# .travis.yml
#
# https://docs.travis-ci.com/user/languages/r/

language: r
sudo: false
cache: packages

matrix:
  include:
  - r: devel
  - r: release
    after_success:
    - Rscript -e 'covr::codecov()'
  - r: oldrel
  - r: 3.2
  - r: 3.1
